*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media
assets/

### Django.Python Stack ###
# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# C extensions
*.so


*.manifest
*.spec

# Unit test / coverage reports
.tox/
.nox/
.coverage
.coverage.*
.cache
*.cover
*.py,cover
